.bottlesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.bottleScore {
  position: relative;
}

.bottleScore .bottlePicture {
  position: relative;
}

.bottleScore .bottlePicture img {
  max-width: 44px;
}

.bottleScore .bottleButton {
  width: 30px;
  height: 30px;
  background: #2b235b;
  color: white;
  border-radius: 20px;
  border: none;
  margin: 5px;
  font-size: 21px;
  vertical-align: bottom;
}

.bottleScore .bottleButton span {
  vertical-align: baseline;
}

.bottleScore .bottleScoreLabel {
  display: inline-block;
  height: 35px;
  width: 25px;
  text-align: center;
}

h6.bottlesScoreLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10;
}

.bottlesScoreLabel span {
  color: #da6345;
}

.bottleScore .rondelles {
  width: 90%;
  bottom: 0;
  left: 5%;
  position: absolute;
}

.bottleScore .rondelle {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #da6345;
  margin-top: 5px;
}

.bottlesScoreDialog .actions {
  justify-content: center;
}

.dangerButton {
  background-color: rgb(230, 0, 0);
}

@media screen and (min-width: 768px) {
  .bottleScore .bottlePicture img {
    max-width: 67px;
  }

  .bottleScore .bottleButton {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  .bottleScore .bottleScoreLabel {
    height: 40px;
  }

  .bottleScore .bottleButton span {
    vertical-align: super;
  }

  .bottleScore .rondelle {
    height: 10px;
  }
}
