.tableContainer {
  margin: auto;
  width: 90%;
  margin-top: 30px;
  padding-bottom: 80px;
}

.profileTitle {
  margin: auto;
  width: 90%;
  background: white;
}

.profileTitle .avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.loadMoreButton {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tableContainer {
    width: 35%;
    padding-bottom: 30px;
  }

  .profileTitle {
    width: 35%;
    left: 32.5%;
  }

  button.loadMoreButton {
    margin-bottom: 20px;
  }
}
