.chartSerie {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.chartSerie > div {
  margin: 10px 10px 0 10px;
  min-width: 150px;
}

.chartSerie > .serieId {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 1.2em;
}

.chartSerie > .button {
  min-width: 1px;
}

.chartSerie > .samplingError {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  font-family: 'Roboto';
  color: red;
}